NEXT_PUBLIC_SANITY_PROJECT_ID="1bl9u0y1" # Required - The ID of your Sanity project
NEXT_PUBLIC_SANITY_DATASET="production" # Required - The dataset of your Sanity project
NEXT_PUBLIC_SANITY_API_VERSION="2026-10-05" # Optional - The API version provided to the Sanity Client
NEXT_PUBLIC_SANITY_STUDIO_URL="" #Optional, defaults to http://localhost:3333
SANITY_API_READ_TOKEN="skjlWqPdG54q9IfvBSyZIyLDXpHjRbOKPAoFUj4oUoy1Lg88ANIFRkTmm1MeHPHaPLggOPLCHKkR2hgWvg8IiIHbg67tzXsAH7DRGwI3nEFuXIvWoSXTrJBbqhtOgxlmgYABdwjKTAtgG9Yl2bEk5SUGVjsdhPk85Ir2L1Ac5OHAOkTp8bcX"
